# Pleroma instance configuration

# NOTE: This file should not be committed to a repo or otherwise made public
# without removing sensitive information.

import Config

config :pleroma, Pleroma.Web.Endpoint,
  url: [host: "{{ pleroma_domain_name }}", scheme: "https", port: 443],
  http: [ip: {127, 0, 0, 1}, port: 4000],
  secret_key_base: "EGkGWGKHJM5UX2AxAcoLB//lXfOgLblF7FzTfEUbM20sJ5ZtBElV/CZGkszEswWX",
   live_view: [signing_salt: "4NtHz8s2"],
   signing_salt: "fcQGShc5"

config :pleroma, :instance,
  name: "{{ pleroma_domain_name }}",
  email: "{{ pleroma_admin_email }}",
  notify_email: "{{ pleroma_notify_email }}",
  limit: 5000,
  registrations_open: true

config :pleroma, :media_proxy,
  enabled: false,
  redirect_on_failure: true

config :pleroma, Pleroma.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ pleroma_db_user }}",
  password: "{{ pleroma_db_password }}",
  database: "{{ pleroma_db_name }}",
  hostname: "{{ pleroma_db_host }}"

# Configure web push notifications
config :web_push_encryption, :vapid_details,
  subject: "mailto:{{ pleroma_admin_email }}"

config :pleroma, :database, rum_enabled: false
config :pleroma, :instance, static_dir: "{{ pleroma_static_path }}"
config :pleroma, Pleroma.Uploaders.Local, uploads: "{{ pleroma_uploads_path }}"

config :pleroma, configurable_from_database: false

config :pleroma, Pleroma.Upload, filters: [Pleroma.Upload.Filter.Exiftool.StripLocation, Pleroma.Upload.Filter.Exiftool.ReadDescription]

config :joken, default_signer: "l8hvbKE/n8kcz1fRbZdUXYrJIodnwuL8YrmgANdR9T2nGw2VyK9kbTZMYTPw1oYp"