
# Server config
server_name: {{ pleroma_domain_name }}
deploy_path: {{ pleroma_base_path }}
api_url: "https://{{ pleroma_domain_name }}"

# Admin user
admin_user: {{ pleroma_admin_user }}
admin_email: {{ pleroma_admin_email }}
admin_password: {{ pleroma_admin_password }}

# Remote mastodon
{% if remote_mastodon_client_id is defined %}
remote_mastodon_client_id: {{ remote_mastodon_client_id }}
{% endif %}
{% if remote_mastodon_secret is defined %}
remote_mastodon_secret: {{ remote_mastodon_secret }}
{% endif %}
{% if remote_mastodon_access_token is defined %}
remote_mastodon_access_token: {{ remote_mastodon_access_token }}
{% endif %}
{% if remote_mastodon_base_url is defined %}
remote_mastodon_base_url: {{ remote_mastodon_base_url }}
{% endif %}
{% if remote_mastodon_hashtags is defined %}
remote_mastodon_hashtags: {{ remote_mastodon_hashtags }}
{% endif %}

# Users
users: 
  {{ pleroma_users | default([]) | to_nice_yaml(indent=2) | trim | indent(2) }}
